<center> <h1>Hello, Javis. My name is Sir SmartBot, I'm the first 100% Artificial Intelligence bot from the future created by Jose Barranco >:D</h1></center>
<style>
body {background: darkred;}
</style> 
<body>
<script>
const password = prompt("Password sir:");
alert(`<${password}>, whaaaaaaat a weird password LOOOOLOLOLOL`)

           const secret = Buffer.from(".$e#%");
           const start = Buffer.from("securestart1$").toString('base64');
           const safeChar = Buffer.from("OneivwxOluzi0nz").toString('base64');
           const encodeOne = Buffer.from(`${safeChar}${password}${secret}`).toString('base64')


           const formula = `${encodeOne}`
           const decodedPassword = Buffer.from(formula, 'base64').toString('ascii')
           //(`Decoded: ${decodedPassword}`);
               const findSafe = decodedPassword.indexOf(".$e#%");
               const find = decodedPassword.slice(20, findSafe)
               alert(find)
        function botherJavis() {
            let haha = 0;
            while (haha < 15) {
                alert("xd")
                haha++;
            }
        }
</script>

<center><button  onclick="botherJavis()">PRESS HERE HAHAHAHAHAHHAHA >:D</button></center>
</body>